@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70.5%;
  font-family: "Inter";
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  border: none;
  outline: 0;
}
