.add-New-button-chooose {
  height: 46vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
}

.add-New-button-chooose button {
  width: 90%;
  background-color: black;
  color: white;
  border-radius: 2rem;
  border: none;
  padding: 1rem;
}
